body {
  padding: 0;
  margin: 0;
  float: left;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(239, 238, 208);
  font-family: 'Lobster', cursive;
  overflow: hidden;
}

main {
  display: flex;
  width: inherit;
  flex: 100%;
}

.container {
  background: url("img/container.jpg") no-repeat center;
  margin: 0 auto;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrap {
  display: flex;
  margin-top: 150px;
  background-color: #B1E357;
  justify-content: center;
  flex-direction: column;
}

.menu-top-left {
  display: flex;
}

.menu-top {
  display: flex;
  background: green;
  padding-left: 10px;
  justify-content: space-between;
}

.food-score {
  background: url(img/food.png) center no-repeat;
  background-size: 22px;
  width: 26px;
  height: 32px;
}

#score {
  width: 28px;
  height: 35px;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: white;
}

.level {
  display: flex;
  align-items: center;
  font-size: 23px;
  color: white;
}

.next-level-score {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: greenyellow;
}

.next-level {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: greenyellow;
}

.main-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.food-score-right {
  background-size: 20px;
  margin-right: 10px;
}

.trophy {
  background: url("img/trophy.gif") no-repeat center;
  background-size: 19px;
  width: 26px;
  height: 35px;
}

#best-score {
  font-size: 20px;
  display: flex;
  align-items: center;
  color: white;
}

.main-menu {
  width: 50%;
  height: 50%;
  margin: 25%;
  background: linear-gradient(to top, rgba(0, 128, 0, .6) 1%, rgba(55, 124, 55, .6) 48%, rgba(177, 277, 87, .8) 99%);
  /*background: linear-gradient(to top, rgba(1,1,1,.2) 1%, rgba(1,1,1,.2) 48%,rgba(1,1,1,.2) 99%);*/
  position: absolute;
  transition: .2s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.your-score {
  position: absolute;
  top: 10px;
  font-size: 18px;
  color: green;
}

.difficulty {
  display: flex;
  justify-content: center;
  padding-left: 13px;
}

fieldset {
  position: relative;
  top: 30px;
  font-size: 18px;
  border: 2px dashed rgba(177,255,87,.56);
  color: white;
}

legend {
  position: relative;
  top: 14px;
  left: -2px;
}

.star {
  background: url(img/star.png) no-repeat;
  background-size: 30px;
  width: 30px;
  height: 30px;
  padding: 4px;
  cursor: pointer;
}

.star-fill {
  background: url(img/star.png) no-repeat;
  background-size: 30px;
}

.star-free {
  background: url(img/star-free.png) no-repeat;
  background-size: 30px;
}

#snake-field {
  text-align: center;
  position: relative;
  margin: 10px 20px 20px;
}

#snake-new-game {
  width: 150px;
  padding: 15px;
  color: white;
  background-color: green;
  text-align: center;
  cursor: pointer;
  float: left;
}

.pause {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  visibility: hidden;
  position: absolute;
  z-index: 3;
}

#pause-for-mobile {
  visibility: hidden;
  margin-top: 5px;
  background-color: rgba(0, 128, 0, 0.4);
  opacity: 0.6;
  text-align: center;
  padding: 10px;
  color: greenyellow;
  text-shadow: 0px 0px 1px;
  cursor: pointer;
}

.game-table {
  border-collapse: collapse;
}

td.game-table-cell {
  width: 25px;
  height: 25px;
  border: 1px solid #9b9b9b;
}

.game-table-cell-color-1 {
  background-color: white;
}

.game-table-cell-color-2 {
  background-color: lightgoldenrodyellow;
}

.food-unit {
  background: url(img/food.png) center no-repeat;
  background-size: 25px;
}

.buttons {
  display: inline-block;
  position: absolute;
  top: 40px;
}

.wall-unit {
  background: url(img/bomb.png) center no-repeat red;
  background-size: 25px;
}

.snake-head {
  background: url("img/snakehead2.png") no-repeat center;
  background-size: 26px;
}

.snake-body {
  background: url(img/snake-body.png) center no-repeat;
  background-size: 28px;
}

.snake-turn {
  background: url(img/turn.png) 0 -3px no-repeat white;
  background-size: 32px;
}

.snake-tale {
  background: url(img/snake-tale.png) center no-repeat white;
  background-size: 30px;
}
/*  */
/*Адаптация под мобильные устройства и планшеты*/
/*  */

/*  Portrait  */

/*Планшеты iPad*/
@media screen and (min-device-width: 651px) and (max-device-width: 992px) {
  .container {
    background: url(img/container.jpg) repeat-y center -31px;
    background-size: 860px;
  }

  td.game-table-cell {
    width: 34px;
    height: 34px;
    border: 1px solid #9b9b9b;
  }

  .wrap {
    margin-top: 160px;
  }

  .pause {
    font-size: 24px;
  }

  .snake-head {
    background-size: 33px;
  }

  .snake-body {
    background-size: 37px;
  }

  .snake-turn {
    background-size: 41px;
  }

  .snake-tale {
    background-size: 44px;
  }

  .food-unit {
    background-size: 30px;
  }

  .wall-unit {
    background-size: 30px;
  }
}

/*iPhone 6 Plus Portrait */
@media screen and (min-width: 501px) and (max-width: 650px) {
  .container {
    background: url(img/container.jpg) repeat-y center top;
    background-size: 490px;
  }

  td.game-table-cell {
    width: 20px;
    height: 20px;
    border: 1px solid #9b9b9b;
  }

  .wrap {
    margin-top: 100px;
  }

  .main-menu {
    width: 80%;
    height: 80%;
    margin: 10%;
  }
}

  /*iphone 6*/
  @media screen and (min-width: 351px) and (max-width: 500px) {
    .container {
      background: url(img/container.jpg) repeat-y center top;
      background-size: 490px;
    }

    .pause {
      font-size: 14px;
    }

    td.game-table-cell {
      width: 17px;
      height: 17px;
      border: 1px solid #9b9b9b;
    }

    .wrap {
      margin-top: 60px;
    }

    .snake-head {
      background-size: 18px;
    }

    .snake-body {
      background-size: 20px;
    }

    .snake-turn {
      background-size: 22px;
    }

    .snake-tale {
      background-size: 23px;
    }

    .food-unit {
      background-size: 16px;
    }

    .wall-unit {
      background-size: 15px;
    }
    .main-menu {
      width: 90%;
      height: 90%;
      margin: 5%;
    }
  }

  /*iPhone5*/
  @media screen and (max-width: 350px) {
    .wrap {
      margin-top: 60px;
    }

    .pause {
      font-size: 12px;
    }

    .container {
      background: url(img/container.jpg) repeat-y center top;
      background-size: 524px;
    }

    td.game-table-cell {
      width: 15px;
      height: 15px;
      border: 1px solid #9b9b9b;
    }

    .food-score {
      background-size: 20px;
    }

    #score {
      font-size: 17px;
      width: 18px;
    }

    .trophy {
      background-size: 16px;
      width: 21px;
    }

    #best-score {
      font-size: 17px;
    }

    .level {
      font-size: 18px;
    }

    .next-level {
      font-size: 15px;
    }

    .next-level-score {
      font-size: 15px;
    }

    .food-score-right {
      font-size: 15px;
      margin-right: 5px;
    }

    .snake-head {
      background-size: 16px;
    }

    .snake-body {
      background-size: 18px;
    }

    .snake-turn {
      background-size: 20px;
    }

    .snake-tale {
      background-size: 21px;
    }

    .food-unit {
      background-size: 15px;
    }

    .wall-unit {
      background-size: 14px;
    }

    .main-menu {
      width: 90%;
      height: 90%;
      margin: 5%;
    }
  }

/*  Landscape  */

/*iPad landscape*/
@media screen and (max-width: 1200px) and (orientation: landscape) {
  .container {
    background: url(img/container.jpg) repeat-y center -31px;
    background-size: 1300px;
  }

  .pause {
    font-size: 24px;
  }

  .main-menu {
    width: 50%;
    height: 50%;
    margin: 25%;
  }

  td.game-table-cell {
    width: 31px;
    height: 31px;
    border: 1px solid #9b9b9b;
  }

  .container {
    justify-content: flex-start;
  }

  .wrap {
    margin-top: 10px;
  }

  .snake-head {
    background-size: 30px;
  }

  .snake-body {
    background-size: 34px;
  }

  .snake-turn {
    background-size: 38px;
  }

  .snake-tale {
    background-size: 41px;
  }

  .food-unit {
    background-size: 27px;
  }

  .wall-unit {
    background-size: 27px;
  }
}



  /* landscape iPhone5,6, 6 Plus */
  @media screen and (max-width: 750px) and (orientation: landscape) {
    .container {
      background: url(img/container.jpg) repeat-y center top;
      background-size: 743px;
    }

    .main-menu {
      width: 90%;
      height: 90%;
      margin: 5%;
    }

    td.game-table-cell {
      width: 12px;
      height: 12px;
      border: 1px solid #9b9b9b;
    }

    .container {
      justify-content: flex-start;
    }

    .wrap {
      margin: 10px;
    }

    .pause {
      font-size: 12px;
    }

    .food-score {
      background-size: 17px;
    }

    #score {
      font-size: 14px;
      width: 14px;
    }

    .trophy {
      background-size: 13px;
      width: 18px;
    }

    #best-score {
      font-size: 14px;
    }

    .level {
      font-size: 15px;
    }

    .next-level {
      font-size: 12px;
    }

    .next-level-score {
      font-size: 12px;
    }

    .food-score-right {
      font-size: 12px;
      margin-right: 5px;
    }

    .snake-head {
      background-size: 13px;
    }

    .snake-body {
      background-size: 15px;
    }

    .snake-turn {
      background-size: 17px;
    }

    .snake-tale {
      background-size: 18px;
    }

    .food-unit {
      background-size: 12px;
    }

    .wall-unit {
      background-size: 11px;
    }
  }